local/templates/.default/static/src/blocks/composite/order/order.jade
mixin order()
	.order(onclick="return {'order': {}}").js-widget
		.order__side
			.order__amount
				span.h1 итого 
				span.h1.order__amount-sum 2 500 
				span.rouble Р
			.order__bonus
				.order__bonus-img
					img(src="images/icon_1.png")
				span.order__bonus-text 
					span 2 
					span гостя, 
					span 5 
					span блюд

			.order__bonus
				.order__bonus-img
					img(src="images/delivery.png")
				span.order__bonus-text Бесплатная доставка
			.order__bonus
				.order__bonus-img
					img(src="images/free_card.png")
				span.order__bonus-text Карта в подарок
			.order__checkout
				.btn._style_3 Оформить заказ
				p или по телефону
					b +7 495 781-781-9 
				p сообщить № заказа 
					b 345-200-15

			.order__add
				.label Карта в подарок
				.order__add-desc
					.order__add-img 
						img(src="images/card.png")
					.order__add-text
						| Закажи еще на 
						.order__add-text-sum 1050 
							span.rouble Р
						| и получи карту 
						br
						| в подарок
				.order__add-carousel
					.order__add-carousel-item
						+goods-order("images/temp/1.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/2.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/3.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/4.jpg")




		.order__main
			.order__group._coupons
				.order__group-title
					.order__group-name Купоны
				.order__item
					+coupon_6
					+coupon_2
					+coupon_5

			.order__group(data-tableid="table_1", data-guestid="1")
				.order__group-title
					.order__group-guest
						img(src="images/guest.png")
					.order__group-name Гость 1
						.order__group-info 3 блюда, 
							b 750 
							+rouble
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/119/86/food")
					.order__item-desc
						.order__item-title Гюнику
						.order__item-ingredients Телятина, руккола, сыр пармезан, луковый соус
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/125/83/food")
					.order__item-desc
						.order__item-title Авокадо маки
						.order__item-ingredients Лосось, сливочный сыр, авокадо
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/115/78/food")
					.order__item-desc
						.order__item-title Секуе суши
						.order__item-ingredients Шампиньоны и вешенки, огурец
			.order__group(data-tableid="table_2", data-guestid="2")
				.order__group-title
					.order__group-guest
						img(src="images/guest.png")
					.order__group-name Гость 2
						.order__group-info 2 блюда, 
							b 750 
							+rouble

				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/117/83/food")
					.order__item-desc
						.order__item-title Гюнику
						.order__item-ingredients Телятина, руккола, сыр пармезан, луковый соус
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/110/71/food")
					.order__item-desc
						.order__item-title Авокадо маки
						.order__item-ingredients Лосось, сливочный сыр, авокадо

			.order__group._all(data-tableid="table_3", data-guestid="3")
				.order__group-title
					.label Дополнительно на всех
						.order__group-info 
							b 30 
							+rouble
				.order__item._sticks
					.order__item-remove
					.order__item-count
						span.order__item-cost 0 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="../images/sticks.png")
					.order__item-desc
						.order__item-title Палочки
						.order__item-ingredients Два комплекта бесплатно
				.order__item._sauce
					.order__item-remove
					.order__item-count
						span.order__item-cost 0 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="../images/sauce.png")
					.order__item-desc
						.order__item-title Соевый соус
						.order__item-ingredients Две порции бесплатно

local/templates/.default/static/dest/order.html
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="ru" class="ie8"></html>
<![endif]-->
<!--[if IE 9]>
<html lang="ru" class="ie9"></html>
<![endif]-->
<!--if gt IE 9-->
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="page">
    <div class="page__user-panel">
      <div class="page__container clearfix">
            <div class="achievements pull-left">
              <div class="achievements__title">МОИ ДОСТИЖЕНИЯ</div>
              <div class="achievements__bar"><a class="achievements__link _one"><span class="achievements__tooltip">При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.</span><span>Чизкейк <br>За регистрацию</span></a><a class="achievements__link _two"><span class="achievements__tooltip">При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.</span><span>Скидка 5%<br>на новый заказ</span></a><a class="achievements__link _three"><span class="achievements__tooltip">При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.</span><span>Карта 5%</span></a><a class="achievements__link _four"><span class="achievements__tooltip">При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.</span><span>Следующий<br>уровень</span></a>
                <div class="achievements__bar-progress"></div>
              </div>
            </div>
            <div class="user-controls pull-right"><a href="#" class="user-controls__item">Регистрация</a><span class="user-controls__divider">|</span><a href="#" class="user-controls__item">Войти</a></div>
      </div>
    </div>
    <header class="page__header">
      <div class="page__container clearfix">
        <div class="pull-left">
              <div class="logo"><a href="#"><img src="images/logo.png" width="244" height="60" alt="Нияма - японский ресторан"></a></div>
        </div>
        <div class="pull-right">
              <div class="feedback">
                <div class="feedback__phone">+7 495 781-781-9</div>
                <div class="feedback__links centrifuge"><a href="#" class="feedback__link centrifuge__item">Обратный звонок</a> <a href="#" class="feedback__link centrifuge__item">Контроль качества</a></div>
              </div>
        </div>
            <nav onclick="return {'nav': {}}" class="nav centrifuge js-widget"><a href="#" class="nav__item centrifuge__item">меню</a> <a href="#" class="nav__item centrifuge__item">Рестораны</a> <a href="#" class="nav__item centrifuge__item">Доставка</a> <a href="#" class="nav__item centrifuge__item _hidden-tablet">Скидки и акции</a> <a href="#" id="coupons" class="nav__item centrifuge__item">Купоны</a> <a href="#" class="nav__item centrifuge__item _hidden-tablet">О компании</a> <span class="nav__item centrifuge__item pseudo-link _more">Еще
                <div class="nav__more">
                  <p><a href="#" class="nav__item centrifuge__item">Скидки и акции</a></p>
                  <p><a href="#" class="nav__item centrifuge__item">О компании</a></p>
                </div></span> </nav>
      </div>
    </header>
    <div class="page__cart">
      <div class="page__container">
        <h1 class="h1 _order">Мой заказ</h1>
      </div>
    </div>
    <main class="page__main _normal">
      <div class="page__container clearfix">
        <div class="page__content-wrap">
              <div onclick="return {'order': {}}" class="order js-widget">
                <div class="order__side">
                  <div class="order__amount"><span class="h1">итого </span><span class="h1 order__amount-sum">2 500 </span><span class="rouble">Р</span></div>
                  <div class="order__bonus">
                    <div class="order__bonus-img"><img src="images/icon_1.png"></div><span class="order__bonus-text"> <span>2 </span><span>гостя, </span><span>5 </span><span>блюд</span></span>
                  </div>
                  <div class="order__bonus">
                    <div class="order__bonus-img"><img src="images/delivery.png"></div><span class="order__bonus-text">Бесплатная доставка</span>
                  </div>
                  <div class="order__bonus">
                    <div class="order__bonus-img"><img src="images/free_card.png"></div><span class="order__bonus-text">Карта в подарок</span>
                  </div>
                  <div class="order__checkout">
                    <div class="btn _style_3">Оформить заказ</div>
                    <p>или по телефону<b>+7 495 781-781-9 </b></p>
                    <p>сообщить № заказа <b>345-200-15</b></p>
                  </div>
                  <div class="order__add">
                    <div class="label">Карта в подарок</div>
                    <div class="order__add-desc">
                      <div class="order__add-img"> <img src="images/card.png"></div>
                      <div class="order__add-text">Закажи еще на 
                        <div class="order__add-text-sum">1050 <span class="rouble">Р</span></div>и получи карту <br>в подарок
                      </div>
                    </div>
                    <div class="order__add-carousel">
                      <div class="order__add-carousel-item">
                            <div class="goods _order">
                              <div class="goods__wrap">
                                <div class="goods__image"><img src="images/temp/1.jpg"></div>
                                <div class="goods__desc">
                                  <h2 class="goods__name">Секуе Эби</h2>
                                  <div class="goods__cost">215 <span class="rouble">Р </span></div>
                                  <div data-id="123" class="goods__add-btn btn">Добавить</div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div class="order__add-carousel-item">
                            <div class="goods _order">
                              <div class="goods__wrap">
                                <div class="goods__image"><img src="images/temp/2.jpg"></div>
                                <div class="goods__desc">
                                  <h2 class="goods__name">Секуе Эби</h2>
                                  <div class="goods__cost">215 <span class="rouble">Р </span></div>
                                  <div data-id="123" class="goods__add-btn btn">Добавить</div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div class="order__add-carousel-item">
                            <div class="goods _order">
                              <div class="goods__wrap">
                                <div class="goods__image"><img src="images/temp/3.jpg"></div>
                                <div class="goods__desc">
                                  <h2 class="goods__name">Секуе Эби</h2>
                                  <div class="goods__cost">215 <span class="rouble">Р </span></div>
                                  <div data-id="123" class="goods__add-btn btn">Добавить</div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div class="order__add-carousel-item">
                            <div class="goods _order">
                              <div class="goods__wrap">
                                <div class="goods__image"><img src="images/temp/4.jpg"></div>
                                <div class="goods__desc">
                                  <h2 class="goods__name">Секуе Эби</h2>
                                  <div class="goods__cost">215 <span class="rouble">Р </span></div>
                                  <div data-id="123" class="goods__add-btn btn">Добавить</div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="order__main">
                  <div class="order__group _coupons">
                    <div class="order__group-title">
                      <div class="order__group-name">Купоны</div>
                    </div>
                    <div class="order__item">
                          <div data-id="6" class="coupon _style_4">
                            <div class="coupon__add">В КОРЗИНУ</div>
                            <div class="coupon__title"> 
                              <div class="coupon__title-left">
                                <div class="coupon__title-left-top">постоянная </div>
                                <div class="coupon__title-left-bottom">скидка</div>
                              </div>
                              <div class="coupon__title-right"><img src="/images/coupons/coupon_card.png"></div>
                              <div class="coupon__title-center">
                                <div class="coupon__badge _percent"> <span>5<sup>%</sup></span></div>
                              </div>
                            </div>
                          </div>
                          <div data-id="3" class="coupon _style_2">
                            <div class="coupon__add">В КОРЗИНУ</div>
                            <div class="coupon__pic"><img src="/images/coupons/coupon_goods-1.jpg" class="coupon__pic-img pull-left"><img src="/images/coupons/coupon_goods-2.jpg" class="coupon__pic-img pull-right">
                              <div class="coupon__pic-price"><span class="coupon__pic-price-actual">390<span class="rouble">Р</span></span><span class="coupon__pic-price-old">520<span class="rouble">Р</span></span></div>
                            </div>
                            <div class="coupon__info">
                              <div class="coupon__title">Апельсиновый фреш в подарок</div>
                              <p class="coupon__desc">При заказе роллов Филадельфия</p>
                            </div>
                          </div>
                          <div data-id="5" class="coupon _style_1">
                            <div class="coupon__add">В КОРЗИНУ</div>
                            <div class="coupon__title"> 
                              <div class="coupon__title-left">разовая</div>
                              <div class="coupon__title-right">скидка</div>
                              <div class="coupon__title-center">
                                <div class="coupon__badge _percent"> <span>3<sup>%</sup></span></div>
                              </div>
                            </div>
                            <p class="coupon__desc">Воспользуйтесь при оплате любого заказа</p>
                          </div>
                    </div>
                  </div>
                  <div data-tableid="table_1" data-guestid="1" class="order__group">
                    <div class="order__group-title">
                      <div class="order__group-guest"><img src="images/guest.png"></div>
                      <div class="order__group-name">Гость 1
                        <div class="order__group-info">3 блюда, <b>750 </b><span class="rouble">Р</span>
                        </div>
                      </div>
                    </div>
                    <div class="order__item">
                      <div class="order__item-remove"></div>
                      <div class="order__item-count"><span class="order__item-cost">195 <span class="rouble">Р </span></span>
                        <div class="order__item-select">
                              <div onclick="return {'select': {}}" class="select__wrap _mini js-widget">
                                <select class="select">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                        </div>
                      </div>
                      <div class="order__item-img"><img src="http://lorempixel.com/119/86/food"></div>
                      <div class="order__item-desc">
                        <div class="order__item-title">Гюнику</div>
                        <div class="order__item-ingredients">Телятина, руккола, сыр пармезан, луковый соус</div>
                      </div>
                    </div>
                    <div class="order__item">
                      <div class="order__item-remove"></div>
                      <div class="order__item-count"><span class="order__item-cost">195 <span class="rouble">Р </span></span>
                        <div class="order__item-select">
                              <div onclick="return {'select': {}}" class="select__wrap _mini js-widget">
                                <select class="select">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                        </div>
                      </div>
                      <div class="order__item-img"><img src="http://lorempixel.com/125/83/food"></div>
                      <div class="order__item-desc">
                        <div class="order__item-title">Авокадо маки</div>
                        <div class="order__item-ingredients">Лосось, сливочный сыр, авокадо</div>
                      </div>
                    </div>
                    <div class="order__item">
                      <div class="order__item-remove"></div>
                      <div class="order__item-count"><span class="order__item-cost">195 <span class="rouble">Р </span></span>
                        <div class="order__item-select">
                              <div onclick="return {'select': {}}" class="select__wrap _mini js-widget">
                                <select class="select">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                        </div>
                      </div>
                      <div class="order__item-img"><img src="http://lorempixel.com/115/78/food"></div>
                      <div class="order__item-desc">
                        <div class="order__item-title">Секуе суши</div>
                        <div class="order__item-ingredients">Шампиньоны и вешенки, огурец</div>
                      </div>
                    </div>
                  </div>
                  <div data-tableid="table_2" data-guestid="2" class="order__group">
                    <div class="order__group-title">
                      <div class="order__group-guest"><img src="images/guest.png"></div>
                      <div class="order__group-name">Гость 2
                        <div class="order__group-info">2 блюда, <b>750 </b><span class="rouble">Р</span>
                        </div>
                      </div>
                    </div>
                    <div class="order__item">
                      <div class="order__item-remove"></div>
                      <div class="order__item-count"><span class="order__item-cost">195 <span class="rouble">Р </span></span>
                        <div class="order__item-select">
                              <div onclick="return {'select': {}}" class="select__wrap _mini js-widget">
                                <select class="select">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                        </div>
                      </div>
                      <div class="order__item-img"><img src="http://lorempixel.com/117/83/food"></div>
                      <div class="order__item-desc">
                        <div class="order__item-title">Гюнику</div>
                        <div class="order__item-ingredients">Телятина, руккола, сыр пармезан, луковый соус</div>
                      </div>
                    </div>
                    <div class="order__item">
                      <div class="order__item-remove"></div>
                      <div class="order__item-count"><span class="order__item-cost">195 <span class="rouble">Р </span></span>
                        <div class="order__item-select">
                              <div onclick="return {'select': {}}" class="select__wrap _mini js-widget">
                                <select class="select">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                        </div>
                      </div>
                      <div class="order__item-img"><img src="http://lorempixel.com/110/71/food"></div>
                      <div class="order__item-desc">
                        <div class="order__item-title">Авокадо маки</div>
                        <div class="order__item-ingredients">Лосось, сливочный сыр, авокадо</div>
                      </div>
                    </div>
                  </div>
                  <div data-tableid="table_3" data-guestid="3" class="order__group _all">
                    <div class="order__group-title">
                      <div class="label">Дополнительно на всех
                        <div class="order__group-info"> <b>30 </b><span class="rouble">Р</span>
                        </div>
                      </div>
                    </div>
                    <div class="order__item _sticks">
                      <div class="order__item-remove"></div>
                      <div class="order__item-count"><span class="order__item-cost">0 <span class="rouble">Р </span></span>
                        <div class="order__item-select">
                              <div onclick="return {'select': {}}" class="select__wrap _mini js-widget">
                                <select class="select">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                        </div>
                      </div>
                      <div class="order__item-img"><img src="../images/sticks.png"></div>
                      <div class="order__item-desc">
                        <div class="order__item-title">Палочки</div>
                        <div class="order__item-ingredients">Два комплекта бесплатно</div>
                      </div>
                    </div>
                    <div class="order__item _sauce">
                      <div class="order__item-remove"></div>
                      <div class="order__item-count"><span class="order__item-cost">0 <span class="rouble">Р </span></span>
                        <div class="order__item-select">
                              <div onclick="return {'select': {}}" class="select__wrap _mini js-widget">
                                <select class="select">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                        </div>
                      </div>
                      <div class="order__item-img"><img src="../images/sauce.png"></div>
                      <div class="order__item-desc">
                        <div class="order__item-title">Соевый соус</div>
                        <div class="order__item-ingredients">Две порции бесплатно</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </main>
    <footer class="page__footer">
      <div class="page__container clearfix">
        <div class="page__footer-left">
              <div class="social">
                <div class="_facebook social__item"><a href="#" class="_facebook social__item-in"></a></div>
                <div class="_vk social__item"><a href="#" class="_vk social__item-in"></a></div>
                <div class="_twitter social__item"><a href="#" class="_twitter social__item-in"></a></div>
                <div class="_forsquare social__item"><a href="#" class="_forsquare social__item-in"></a></div>
                <div class="_linkedin social__item"><a href="#" class="_linkedin social__item-in"></a></div>
                <div class="_ok social__item"><a href="#" class="_ok social__item-in"></a></div>
              </div>
              <div class="footer-nav clearfix">
                <ul class="footer-nav__col">
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">меню</a></li>
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">Рестораны</a></li>
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">Доставка</a></li>
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">скидки и акции</a></li>
                </ul>
                <ul class="footer-nav__col">
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">О компании</a></li>
                  <li class="footer-nav__item hidden-tablet"><a href="#" class="footer-nav__link">франшиза</a></li>
                  <li class="footer-nav__item hidden-tablet"><a href="#" class="footer-nav__link">вакансии</a></li>
                </ul>
                <ul class="footer-nav__col">
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">Обратный звонок</a></li>
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">контроль качества</a></li>
                </ul>
              </div><a href="http://www.adv.ru" class="adv-logo">Сделано в ADV</a>
              <div class="copyright">© Нияма, 2014</div>
        </div>
        <div class="page__footer-right">
              <div class="social-group">
                <div class="social-group__item">группа facebook</div>
                <div class="social-group__item">группа vk</div>
              </div>
        </div>
      </div>
    </footer>
        <div onclick="return {'popup': {}}" class="popup js-widget">
          <div class="popup__overlay"></div>
          <div class="popup__window">
            <div class="popup__close"></div>
            <h2 class="h1 popup__title">Новый гость</h2>
            <label class="label">Как зовут гостя?</label>
            <input type="text" class="input _mb_2">
            <label class="label">Выберите фото или аватар</label>
            <div class="input__file _photo">Выбрать фото...
              <div class="input__file-pic"></div>
              <input type="file" class="input__file-input">
            </div>
            <div class="popup__avatars">
              <input type="radio" value="0" id="avatar1" name="avatar" checked class="radio">
              <label data-url="../images/avatars/active.png" for="avatar1" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="1" id="avatar2" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar2" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="2" id="avatar3" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar3" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="3" id="avatar4" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar4" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="4" id="avatar5" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar5" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="5" id="avatar6" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar6" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
            </div>
            <input type="submit" value="добавить" class="btn _style_1">
          </div>
        </div>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </body>
</html>
