local/templates/.default/static/dest/_popup_cabibet_check_card_problem.html

<div class="ordering-form popup__card">
  <h1>Описание проблемы</h1>
  <div class="popup__user-body">
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Имя</label>
        <input class="input"/>
      </div>
      <div class="input__wrap">
        <label class="label">Фамилия</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Телефон</label>
        <input class="input"/>
      </div>
      <div class="input__wrap">
        <label class="label">Электронная почта</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <label class="label">Текст обращения</label>
      <textarea class="textarea"></textarea>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <input value="Отправить" type="submit" class="btn _style_4 _full-width"/>
      </div>
    </div>
  </div>
</div>

local/templates/.default/static/src/_popup_cabibet_check_card_problem.jade
include jade/_mixins
.ordering-form.popup__card
	h1 Описание проблемы
	.popup__user-body
		//- .ordering-form__row
			.input__wrap
				label.label Номер карты
				input.input


		.ordering-form__row
			.input__wrap
				label.label Имя
				input.input

			.input__wrap
				label.label Фамилия
				input.input


		.ordering-form__row
			.input__wrap
				label.label Телефон
				input.input 

			.input__wrap
				label.label Электронная почта
				input.input


		.ordering-form__row
				label.label Текст обращения
				textarea.textarea


		//- .ordering-form__row._quarter
			.input__wrap
				label.label Дом
				input.input 

			.input__wrap
				label.label Корпус
				input.input

			.input__wrap
				label.label Строение
				input.input

			.input__wrap
				label.label Квартира
				input.input


		.ordering-form__row
			.input__wrap
				input.btn._style_4._full-width(value="Отправить", type="submit")
