local/templates/.default/static/dest/_popup_cabinet_card_reg_2.html

<div class="ordering-form popup__card">
  <h1>Карта уже зарегистрирована</h1>
  <div class="popup__user-body">
    <div class="ordering-form__row">
      <p class="text-brown">Если вы являетесь владельцем карты, введите e-mail и телефон, который вы указывали при регистрации карты</p>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Электронная почта</label>
        <input class="input"/>
      </div>
      <div class="input__wrap">
        <label class="label">Телефон</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <input value="Подтвердить" type="submit" class="btn _style_4 _full-width"/>
      </div>
    </div>
  </div>
</div>

local/templates/.default/static/src/_popup_cabinet_card_reg_2.jade
include jade/_mixins
.ordering-form.popup__card
	h1 Карта уже зарегистрирована
	.popup__user-body
		//- .ordering-form__row
			.input__wrap
				label.label Номер карты
				input.input


		//- .ordering-form__row
			.input__wrap
				label.label Имя
				input.input

			.input__wrap
				label.label Фамилия
				input.input


		//- .ordering-form__row
			.input__wrap
				label.label Дата рождения
				input.input

		.ordering-form__row
			p.text-brown Если вы являетесь владельцем карты, введите e-mail и телефон, который вы указывали при регистрации карты


		.ordering-form__row
			.input__wrap
				label.label Электронная почта
				input.input

			.input__wrap
				label.label Телефон
				input.input 

		//- .ordering-form__row
			+select("Город", "_city")

			.input__wrap
				label.label Улица
				input.input


		//- .ordering-form__row._quarter
			.input__wrap
				label.label Дом
				input.input 

			.input__wrap
				label.label Корпус
				input.input

			.input__wrap
				label.label Строение
				input.input

			.input__wrap
				label.label Квартира
				input.input


		.ordering-form__row
			.input__wrap
				input.btn._style_4._full-width(value="Подтвердить", type="submit")
