local/templates/.default/static/src/_popup_cabibet_check_card.jade
.card-check(onclick="return {'cardCheck': {}}").js-widget
	h2.h1.popup__title Проверка карты
	label.label Номер карты
	input.input._mb_2(type="text")
	.card-check__error
	input.btn._style_4._full-width(value="Проверить", type="submit")

local/templates/.default/static/dest/_popup_cabibet_check_card.html

<div onclick="return {'cardCheck': {}}" class="card-check js-widget">
  <h2 class="h1 popup__title">Проверка карты</h2>
  <label class="label">Номер карты</label>
  <input type="text" class="input _mb_2"/>
  <div class="card-check__error"></div>
  <input value="Проверить" type="submit" class="btn _style_4 _full-width"/>
</div>
