local/templates/.default/static/dest/_popup_coupon.html

<div onclick="return {'couponPopup': {}}" class="coupon-popup js-widget">
  <form action="/_popup_coupon.html">
    <h2 class="h1 popup__title">Бонусы купона</h2>
    <div class="coupon _popup _style_1">
      <div class="coupon__title"> 
        <div class="coupon__title-left">3 000</div>
        <div class="coupon__title-right">НИЯМ</div>
        <div class="coupon__title-center">
          <div class="coupon__badge _nyam"></div>
        </div>
      </div>
    </div>
    <label class="label">Сколько ниям применить к корзине?</label>
    <input type="text" name="coupon__count" value="Обычное поле" class="input _mb_3"/>
    <input type="text" name="coupon__count" value="Поле с ошибкой" class="input _error _mb_3"/>
    <div class="coupon-popup__sign">Обычная надпись</div>
    <div class="coupon-popup__sign _error">Текст ошибки</div>
    <input value="Применить" type="submit" class="btn _style_2 _full-width"/>
  </form>
</div>

local/templates/.default/static/src/_popup_coupon.jade
.coupon-popup(onclick="return {'couponPopup': {}}").js-widget
	form(action="/_popup_coupon.html")
		h2.h1.popup__title Бонусы купона
		.coupon._popup._style_1
			.coupon__title 
				.coupon__title-left 3 000
				.coupon__title-right НИЯМ
				.coupon__title-center
					.coupon__badge._nyam
		label.label Сколько ниям применить к корзине?
		input.input._mb_3(type="text", name="coupon__count", value="Обычное поле")
		input.input._error._mb_3(type="text", name="coupon__count", value="Поле с ошибкой")
		.coupon-popup__sign Обычная надпись
		.coupon-popup__sign._error Текст ошибки
		input.btn._style_2._full-width(value="Применить", type="submit")
