local/templates/.default/static/src/_popup_reg.jade
include jade/_mixins

block content
	.popup__alert
		h2.popup__alert-title.h1 Спасибо за регистрацию
		.auth__bonus._wide
			p За регистрацию мы начислили вам 
			.auth__bonus-nyam 
				span.text-brown 5 000
				img(src="/images/nyam_big.png")
				span.text-orange ниям

local/templates/.default/static/dest/_popup_reg.html

<div class="popup__alert">
  <h2 class="popup__alert-title h1">Спасибо за регистрацию</h2>
  <div class="auth__bonus _wide">
    <p>За регистрацию мы начислили вам </p>
    <div class="auth__bonus-nyam"> <span class="text-brown">5 000</span><img src="/images/nyam_big.png"/><span class="text-orange">ниям</span></div>
  </div>
</div>
