local/templates/.default/static/src/_popup_goods_remove.jade
include jade/_mixins

block content
	.goods-one._removed
		.goods-one__img
			img(src="images/big-roll.png")
		.goods-one__desc
			p.goods-one__about Блюдо "Филадельфия" было удалено из Вашего заказа. Если это произошло случайно - можно вернуть блюдо обратно.
		.goods-one__side
			a.btn._full-width._style_1.goods-one__add Вернуть

local/templates/.default/static/dest/_popup_goods_remove.html

<div class="goods-one _removed">
  <div class="goods-one__img"><img src="images/big-roll.png"/></div>
  <div class="goods-one__desc">
    <p class="goods-one__about">Блюдо "Филадельфия" было удалено из Вашего заказа. Если это произошло случайно - можно вернуть блюдо обратно.</p>
  </div>
  <div class="goods-one__side"><a class="btn _full-width _style_1 goods-one__add">Вернуть</a></div>
</div>
