local/templates/.default/static/src/_popup_cabinet_1.jade
include jade/_mixins
.popup__user
	h1 Личные данные
	.popup__user-body
		.row 
			.popup__user-photo
				label.label Фото или аватар
				img(src="http://lorempixel.com/64/64/people")
				.input__file._photo._mini Выбрать фото...
					input.input__file-input(type="file")
			
			.popup__avatars
				input.radio(type="radio", value="0", id="cabinet_avatar1", name="cabinet_avatar", checked)
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar1")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="1", id="cabinet_avatar2", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar2")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="2", id="cabinet_avatar3", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar3")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="3", id="cabinet_avatar4", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar4")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="4", id="cabinet_avatar5", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar5")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="5", id="cabinet_avatar6", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar6")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

		.col
			label.label Имя
			input.input 

			label.label Телефон
			input.input 

		.col
			label.label Фамилия
			input.input 

		.clearfix
		.row
			.col
				label.label Электронная почта
				input.input(type="email", value="somemail@adv.ru", disabled)
			.col
				+question-mail

		.clearfix
		.popup__user-change-pass 
			span Изменить пароль

		.row._passwords
			.col
				label.label Текущий пароль
				input.input 
			.col
				label.label Новый пароль
				.input__wrap(onclick = "return {'togglePass': {} }").js-widget
					.input__showpass
					input.input(type="password")
		.row
			input.btn._style_4(value="Сохранить", type="submit")

local/templates/.default/static/dest/_popup_cabinet_1.html

<div class="popup__user">
  <h1>Личные данные</h1>
  <div class="popup__user-body">
    <div class="row"> 
      <div class="popup__user-photo">
        <label class="label">Фото или аватар</label><img src="http://lorempixel.com/64/64/people"/>
        <div class="input__file _photo _mini">Выбрать фото...
          <input type="file" class="input__file-input"/>
        </div>
      </div>
      <div class="popup__avatars">
        <input type="radio" value="0" id="cabinet_avatar1" name="cabinet_avatar" checked="checked" class="radio"/>
        <label data-url="../images/avatars/active.png" for="cabinet_avatar1" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"/><img src="/images/avatars/active.png" class="_active"/></label>
        <input type="radio" value="1" id="cabinet_avatar2" name="cabinet_avatar" class="radio"/>
        <label data-url="../images/avatars/active.png" for="cabinet_avatar2" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"/><img src="/images/avatars/active.png" class="_active"/></label>
        <input type="radio" value="2" id="cabinet_avatar3" name="cabinet_avatar" class="radio"/>
        <label data-url="../images/avatars/active.png" for="cabinet_avatar3" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"/><img src="/images/avatars/active.png" class="_active"/></label>
        <input type="radio" value="3" id="cabinet_avatar4" name="cabinet_avatar" class="radio"/>
        <label data-url="../images/avatars/active.png" for="cabinet_avatar4" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"/><img src="/images/avatars/active.png" class="_active"/></label>
        <input type="radio" value="4" id="cabinet_avatar5" name="cabinet_avatar" class="radio"/>
        <label data-url="../images/avatars/active.png" for="cabinet_avatar5" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"/><img src="/images/avatars/active.png" class="_active"/></label>
        <input type="radio" value="5" id="cabinet_avatar6" name="cabinet_avatar" class="radio"/>
        <label data-url="../images/avatars/active.png" for="cabinet_avatar6" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"/><img src="/images/avatars/active.png" class="_active"/></label>
      </div>
    </div>
    <div class="col">
      <label class="label">Имя</label>
      <input class="input"/>
      <label class="label">Телефон</label>
      <input class="input"/>
    </div>
    <div class="col">
      <label class="label">Фамилия</label>
      <input class="input"/>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col">
        <label class="label">Электронная почта</label>
        <input type="email" value="somemail@adv.ru" disabled="disabled" class="input"/>
      </div>
      <div class="col">
        <div class="question"><span>Если Вы хотите изменить почту, позвоните нам </span><a href="tel:+74957817819">+7 495 781-781-9 </a>или <a href="#">мы можем сами перезвонить вам</a></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="popup__user-change-pass"> <span>Изменить пароль</span></div>
    <div class="row _passwords">
      <div class="col">
        <label class="label">Текущий пароль</label>
        <input class="input"/>
      </div>
      <div class="col">
        <label class="label">Новый пароль</label>
        <div onclick="return {'togglePass': {} }" class="input__wrap js-widget">
          <div class="input__showpass"></div>
          <input type="password" class="input"/>
        </div>
      </div>
    </div>
    <div class="row">
      <input value="Сохранить" type="submit" class="btn _style_4"/>
    </div>
  </div>
</div>
