local/templates/.default/static/src/_popup_cabinet_orders_history.jade
include jade/_mixins
.order-history(onclick="return {'orderHistory': {}}", data-url="/_sorted-table.html").js-widget

	.order-history__select
		label.label Заказ с гостем
		.select__wrap(onclick="return {'select': {}}").js-widget
			select.select
				option(data-img-src="/images/temp/guests_all.png", value="0") Все гости
				option(data-img-src="http://lorempixel.com/64/64", value="1") Лёша
				option(data-img-src="http://lorempixel.com/64/64", value="2") Олечка
				option(data-img-src="http://lorempixel.com/64/64", value="3") Любочка
	.popup__user-body
		table.order-history__table
			thead
				tr
					th
						span Дата
					th № заказа
					th.align-right
						span Сумма 
						+rouble()
					th
						span Статус
					th Гости и блюда
					th
						span Ниямы
				tr
					th._top(colspan="6")
			tbody

				tr(data-href="/cabinet_order.html")
					td 28.05.2014
					td 292
					td.align-right 2 839
					td выполняется
					td 3/6
					td будет начислено 35 ниям
				tr(data-href="/cabinet_order.html")
					td 24.02.2014
					td 245
					td.align-right 2 750
					td выполнен
					td 2/2
					td начислено 560 ниям
				tr(data-href="/cabinet_order.html")
					td 04.02.2014
					td 754
					td.align-right 790
					td выолнен
					td 1/3
					td начислено 500 ниям
				tr(data-href="/cabinet_order.html")
					td 27.01.2014
					td 12
					td.align-right 1 000
					td отменён
					td 2/5
					td ---

local/templates/.default/static/dest/_popup_cabinet_orders_history.html

<div onclick="return {'orderHistory': {}}" data-url="/_sorted-table.html" class="order-history js-widget">
  <div class="order-history__select">
    <label class="label">Заказ с гостем</label>
    <div onclick="return {'select': {}}" class="select__wrap js-widget">
      <select class="select">
        <option data-img-src="/images/temp/guests_all.png" value="0">Все гости</option>
        <option data-img-src="http://lorempixel.com/64/64" value="1">Лёша</option>
        <option data-img-src="http://lorempixel.com/64/64" value="2">Олечка</option>
        <option data-img-src="http://lorempixel.com/64/64" value="3">Любочка</option>
      </select>
    </div>
  </div>
  <div class="popup__user-body">
    <table class="order-history__table">
      <thead>
        <tr>
          <th><span>Дата</span></th>
          <th>№ заказа</th>
          <th class="align-right"><span>Сумма </span><span class="rouble">Р</span>
          </th>
          <th><span>Статус</span></th>
          <th>Гости и блюда</th>
          <th><span>Ниямы</span></th>
        </tr>
        <tr>
          <th colspan="6" class="_top"></th>
        </tr>
      </thead>
      <tbody>
        <tr data-href="/cabinet_order.html">
          <td>28.05.2014</td>
          <td>292</td>
          <td class="align-right">2 839</td>
          <td>выполняется</td>
          <td>3/6</td>
          <td>будет начислено 35 ниям</td>
        </tr>
        <tr data-href="/cabinet_order.html">
          <td>24.02.2014</td>
          <td>245</td>
          <td class="align-right">2 750</td>
          <td>выполнен</td>
          <td>2/2</td>
          <td>начислено 560 ниям</td>
        </tr>
        <tr data-href="/cabinet_order.html">
          <td>04.02.2014</td>
          <td>754</td>
          <td class="align-right">790</td>
          <td>выолнен</td>
          <td>1/3</td>
          <td>начислено 500 ниям</td>
        </tr>
        <tr data-href="/cabinet_order.html">
          <td>27.01.2014</td>
          <td>12</td>
          <td class="align-right">1 000</td>
          <td>отменён</td>
          <td>2/5</td>
          <td>---</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
