local/templates/.default/static/dest/_sorted-table.html

<table class="order-history__table">
  <thead>
    <tr>
      <th><span>Дата</span></th>
      <th>№ заказа</th>
      <th class="align-right"><span>Сумма </span><span class="rouble">Р</span>
      </th>
      <th><span>Статус</span></th>
      <th>Гости и блюда</th>
      <th><span>Ниямы</span></th>
    </tr>
    <tr>
      <th colspan="6" class="_top"></th>
    </tr>
  </thead>
  <tbody>
    <tr data-href="/cabinet_order.html">
      <td>28.05.2014</td>
      <td>292</td>
      <td class="align-right">2 839</td>
      <td>выполняется</td>
      <td>3/6</td>
      <td>будет начислено 35 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>24.02.2014</td>
      <td>245</td>
      <td class="align-right">2 750</td>
      <td>выполнен</td>
      <td>2/2</td>
      <td>начислено 560 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>28.05.2014</td>
      <td>292</td>
      <td class="align-right">2 839</td>
      <td>выполняется</td>
      <td>3/6</td>
      <td>будет начислено 35 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>24.02.2014</td>
      <td>245</td>
      <td class="align-right">2 750</td>
      <td>выполнен</td>
      <td>2/2</td>
      <td>начислено 560 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>28.05.2014</td>
      <td>292</td>
      <td class="align-right">2 839</td>
      <td>выполняется</td>
      <td>3/6</td>
      <td>будет начислено 35 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>24.02.2014</td>
      <td>245</td>
      <td class="align-right">2 750</td>
      <td>выполнен</td>
      <td>2/2</td>
      <td>начислено 560 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>28.05.2014</td>
      <td>292</td>
      <td class="align-right">2 839</td>
      <td>выполняется</td>
      <td>3/6</td>
      <td>будет начислено 35 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>24.02.2014</td>
      <td>245</td>
      <td class="align-right">2 750</td>
      <td>выполнен</td>
      <td>2/2</td>
      <td>начислено 560 ниям</td>
    </tr>
  </tbody>
</table>

local/templates/.default/static/src/_sorted-table.jade
include jade/_mixins
table.order-history__table
	thead
		tr
			th
				span Дата
			th № заказа
			th.align-right
				span Сумма 
				+rouble()
			th
				span Статус
			th Гости и блюда
			th
				span Ниямы
		tr
			th._top(colspan="6")
	tbody
		tr(data-href="/cabinet_order.html")
			td 28.05.2014
			td 292
			td.align-right 2 839
			td выполняется
			td 3/6
			td будет начислено 35 ниям
		tr(data-href="/cabinet_order.html")
			td 24.02.2014
			td 245
			td.align-right 2 750
			td выполнен
			td 2/2
			td начислено 560 ниям
		tr(data-href="/cabinet_order.html")
			td 28.05.2014
			td 292
			td.align-right 2 839
			td выполняется
			td 3/6
			td будет начислено 35 ниям
		tr(data-href="/cabinet_order.html")
			td 24.02.2014
			td 245
			td.align-right 2 750
			td выполнен
			td 2/2
			td начислено 560 ниям
		tr(data-href="/cabinet_order.html")
			td 28.05.2014
			td 292
			td.align-right 2 839
			td выполняется
			td 3/6
			td будет начислено 35 ниям
		tr(data-href="/cabinet_order.html")
			td 24.02.2014
			td 245
			td.align-right 2 750
			td выполнен
			td 2/2
			td начислено 560 ниям
		tr(data-href="/cabinet_order.html")
			td 28.05.2014
			td 292
			td.align-right 2 839
			td выполняется
			td 3/6
			td будет начислено 35 ниям
		tr(data-href="/cabinet_order.html")
			td 24.02.2014
			td 245
			td.align-right 2 750
			td выполнен
			td 2/2
			td начислено 560 ниям
