local/templates/.default/static/dest/hero_room.html
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="ru" class="ie8"></html>
<![endif]-->
<!--[if IE 9]>
<html lang="ru" class="ie9"></html>
<![endif]-->
<!--if gt IE 9-->
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="page">
    <div class="page__user-panel">
      <div class="page__container clearfix">
            <div class="achievements pull-left">
              <div class="achievements__title">МОИ ДОСТИЖЕНИЯ</div>
              <div class="achievements__bar"><a class="achievements__link _one"><span class="achievements__tooltip">При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.</span><span>Чизкейк <br>За регистрацию</span></a><a class="achievements__link _two"><span class="achievements__tooltip">При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.</span><span>Скидка 5%<br>на новый заказ</span></a><a class="achievements__link _three"><span class="achievements__tooltip">При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.</span><span>Карта 5%</span></a><a class="achievements__link _four"><span class="achievements__tooltip">При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.</span><span>Следующий<br>уровень</span></a>
                <div class="achievements__bar-progress"></div>
              </div>
            </div>
            <div class="user-controls pull-right"><a href="#" class="user-controls__item">Регистрация</a><span class="user-controls__divider">|</span><a href="#" class="user-controls__item">Войти</a></div>
      </div>
    </div>
    <header class="page__header">
      <div class="page__container clearfix">
        <div class="pull-left">
              <div class="logo"><a href="#"><img src="images/logo.png" width="244" height="60" alt="Нияма - японский ресторан"></a></div>
        </div>
        <div class="pull-right">
              <div class="feedback">
                <div class="feedback__phone">+7 495 781-781-9</div>
                <div class="feedback__links centrifuge"><a href="#" class="feedback__link centrifuge__item">Обратный звонок</a> <a href="#" class="feedback__link centrifuge__item">Контроль качества</a></div>
              </div>
        </div>
            <nav onclick="return {'nav': {}}" class="nav centrifuge js-widget"><a href="#" class="nav__item centrifuge__item">меню</a> <a href="#" class="nav__item centrifuge__item">Рестораны</a> <a href="#" class="nav__item centrifuge__item">Доставка</a> <a href="#" class="nav__item centrifuge__item _hidden-tablet">Скидки и акции</a> <a href="#" id="coupons" class="nav__item centrifuge__item">Купоны</a> <a href="#" class="nav__item centrifuge__item _hidden-tablet">О компании</a> <span class="nav__item centrifuge__item pseudo-link _more">Еще
                <div class="nav__more">
                  <p><a href="#" class="nav__item centrifuge__item">Скидки и акции</a></p>
                  <p><a href="#" class="nav__item centrifuge__item">О компании</a></p>
                </div></span> </nav>
      </div>
    </header>
    <main class="page__main _cabinet">
      <div class="page__container clearfix">
        <div class="page__content-wrap">
          <div class="cabinet">
            <div class="cabinet__main">
              <div class="cabinet__title">
                <h2 class="h1 pull-left">Комната героя</h2><a href="#" class="cabinet__title-link pull-right">История заказов</a><a href="#" class="cabinet__title-link pull-right">Личный кабинет</a>
              </div>
              <div class="cabinet__info cabinet__transparent _medals">
                    <div class="medal">
                      <div class="medal__body"><img src="/images/temp/medal_1.png"></div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За поедание лосося</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body"><img src="/images/temp/medal_2.png"></div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">Некоторые любят погорячее</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага зарабатывается острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага зарабатывается острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага зарабатывается острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага зарабатывается острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага зарабатывается острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">зарабатывается острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага зарабатывается острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага зарабатывается острыми ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
                    <div class="medal">
                      <div class="medal__body _empty">
                        <div class="medal__desc">Отвага зарабатывается ощущениями</div>
                      </div>
                      <div class="medal__ribbon">
                        <div class="medal__ribbon-text">За отвагу</div>
                      </div>
                    </div>
              </div>
            </div>
            <div class="cabinet__side">
              <div class="cabinet__card">
                <div class="cabinet__card-title h1">Моя карта</div>
                <div class="cabinet__card-img-wrap"> 
                  <div class="cabinet__card-img"><img src="images/temp/card.png"></div>
                </div><a href="/_popup_cabinet_card_reg.html" data-fancybox-type="ajax" class="fancybox cabinet__card-submit btn _style_4">Зарегистрировать карту</a>
              </div>
              <div class="cabinet__poll cabinet__transparent">
                <form>
                  <h3 class="cabinet__poll-title">Вам понравился наш новый сайт?</h3>
                  <p> 
                        <input type="radio" name="checkbox1" id="yep" class="radio">
                        <label for="yep" class="radio-label checkbox-label checkbox-label">Да
                        </label>
                  </p>
                  <p>
                        <input type="radio" name="checkbox1" id="almost" class="radio">
                        <label for="almost" class="radio-label checkbox-label checkbox-label">Привыкаю
                        </label>
                  </p>
                  <p>
                        <input type="radio" name="checkbox1" id="nope" class="radio">
                        <label for="nope" class="radio-label checkbox-label checkbox-label">Старый был лучше
                        </label>
                  </p>
                  <input type="submit" value="Ответить" class="btn _style_4">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page__footer">
      <div class="page__container clearfix">
        <div class="page__footer-left">
              <div class="social">
                <div class="_facebook social__item"><a href="#" class="_facebook social__item-in"></a></div>
                <div class="_vk social__item"><a href="#" class="_vk social__item-in"></a></div>
                <div class="_twitter social__item"><a href="#" class="_twitter social__item-in"></a></div>
                <div class="_forsquare social__item"><a href="#" class="_forsquare social__item-in"></a></div>
                <div class="_linkedin social__item"><a href="#" class="_linkedin social__item-in"></a></div>
                <div class="_ok social__item"><a href="#" class="_ok social__item-in"></a></div>
              </div>
              <div class="footer-nav clearfix">
                <ul class="footer-nav__col">
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">меню</a></li>
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">Рестораны</a></li>
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">Доставка</a></li>
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">скидки и акции</a></li>
                </ul>
                <ul class="footer-nav__col">
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">О компании</a></li>
                  <li class="footer-nav__item hidden-tablet"><a href="#" class="footer-nav__link">франшиза</a></li>
                  <li class="footer-nav__item hidden-tablet"><a href="#" class="footer-nav__link">вакансии</a></li>
                </ul>
                <ul class="footer-nav__col">
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">Обратный звонок</a></li>
                  <li class="footer-nav__item"><a href="#" class="footer-nav__link">контроль качества</a></li>
                </ul>
              </div><a href="http://www.adv.ru" class="adv-logo">Сделано в ADV</a>
              <div class="copyright">© Нияма, 2014</div>
        </div>
        <div class="page__footer-right">
              <div class="social-group">
                <div class="social-group__item">группа facebook</div>
                <div class="social-group__item">группа vk</div>
              </div>
        </div>
      </div>
    </footer>
        <div onclick="return {'popup': {}}" class="popup js-widget">
          <div class="popup__overlay"></div>
          <div class="popup__window">
            <div class="popup__close"></div>
            <h2 class="h1 popup__title">Новый гость</h2>
            <label class="label">Как зовут гостя?</label>
            <input type="text" class="input _mb_2">
            <label class="label">Выберите фото или аватар</label>
            <div class="input__file _photo">Выбрать фото...
              <div class="input__file-pic"></div>
              <input type="file" class="input__file-input">
            </div>
            <div class="popup__avatars">
              <input type="radio" value="0" id="avatar1" name="avatar" checked class="radio">
              <label data-url="../images/avatars/active.png" for="avatar1" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="1" id="avatar2" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar2" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="2" id="avatar3" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar3" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="3" id="avatar4" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar4" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="4" id="avatar5" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar5" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
              <input type="radio" value="5" id="avatar6" name="avatar" class="radio">
              <label data-url="../images/avatars/active.png" for="avatar6" class="radio-avatar"><img src="/images/avatars/unactive.png" class="_unactive"><img src="/images/avatars/active.png" class="_active"></label>
            </div>
            <input type="submit" value="добавить" class="btn _style_1">
          </div>
        </div>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </body>
</html>

local/templates/.default/static/src/hero_room.jade
extends jade/layouts/cabinet

block content
	main.page__main._cabinet
		.page__container.clearfix
			.page__content-wrap
				.cabinet
					.cabinet__main
						.cabinet__title
							h2.h1.pull-left Комната героя
							a(href="#").cabinet__title-link.pull-right История заказов
							a(href="#").cabinet__title-link.pull-right Личный кабинет
						.cabinet__info.cabinet__transparent._medals
							+medal_img('Попадёт в десятку тот, кто закажет лосось','За поедание лосося', "/images/temp/medal_1.png")
							+medal_img('За заказ пяти разных горячих блюд','Некоторые любят погорячее', "/images/temp/medal_2.png")
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается ощущениями','За отвагу')

					.cabinet__side
						.cabinet__card
							.cabinet__card-title.h1 Моя карта
							.cabinet__card-img-wrap 
								.cabinet__card-img
									img(src="images/temp/card.png")

							a(href="/_popup_cabinet_card_reg.html", data-fancybox-type="ajax").fancybox.cabinet__card-submit.btn._style_4 Зарегистрировать карту

						.cabinet__poll.cabinet__transparent
							form
								h3.cabinet__poll-title Вам понравился наш новый сайт?
								p 
									+radio("yep") Да
								p
									+radio("almost") Привыкаю
								p
									+radio("nope") Старый был лучше
								input(type="submit", value="Ответить").btn._style_4
