local/templates/.default/static/src/order_thanks.jade
extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title Спасибо за заказ!
				.ordering-form._thanks
					p Наш оператор свяжется с Вами в ближайшее время и уточнит детали заказа.
					p Дополнительно мы отправили подтверждение заказа Вам на почту.

					.ordering-form__coupons
						h2.ordering-form__coupons-title Вы получили бонусные купоны! 
							span Не забудьте воспользоваться ими при следующем заказе!
						div
							+coupon_5
							+coupon_2

				.ordering-form__social Присоединяйтесь к нам в социальных сетях
					br
					- var socials = ['facebook', 'vk', 'ok', 'twitter', 'instagram', 'forsquare'];

					.social._auth
						- each social in socials
							div(class="_#{social}").social__item
								a(href="#", class="_#{social}").social__item-in

local/templates/.default/static/dest/order_thanks.html
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="ru" class="ie8"></html>
<![endif]-->
<!--[if IE 9]>
<html lang="ru" class="ie9"></html>
<![endif]-->
<!--if gt IE 9-->
<html lang="ru" class="_light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="page _light">
    <div class="page__wrap _light-2">
      <header class="page__header">
        <div class="page__container clearfix">
          <div class="pull-left">
                  <div class="logo"><a href="#"><img src="images/logo.png" width="244" height="60" alt="Нияма - японский ресторан"></a></div>
          </div>
          <div class="pull-right">
                  <div class="feedback">
                    <div class="feedback__phone">+7 495 781-781-9</div>
                    <div class="feedback__links align-right"><a href="#" class="feedback__link centrifuge__item">Обратный звонок</a></div>
                  </div>
          </div>
        </div>
      </header>
      <main class="page__main _light">
        <div class="page__container clearfix">
          <div class="page__content-wrap">
            <h1 class="auth__title">Спасибо за заказ!</h1>
            <div class="ordering-form _thanks">
              <p>Наш оператор свяжется с Вами в ближайшее время и уточнит детали заказа.</p>
              <p>Дополнительно мы отправили подтверждение заказа Вам на почту.</p>
              <div class="ordering-form__coupons">
                <h2 class="ordering-form__coupons-title">Вы получили бонусные купоны! <span>Не забудьте воспользоваться ими при следующем заказе!</span></h2>
                <div>
                        <div data-id="5" class="coupon _style_1">
                          <div class="coupon__add">В КОРЗИНУ</div>
                          <div class="coupon__title"> 
                            <div class="coupon__title-left">разовая</div>
                            <div class="coupon__title-right">скидка</div>
                            <div class="coupon__title-center">
                              <div class="coupon__badge _percent"> <span>3<sup>%</sup></span></div>
                            </div>
                          </div>
                          <p class="coupon__desc">Воспользуйтесь при оплате любого заказа</p>
                        </div>
                        <div data-id="3" class="coupon _style_2">
                          <div class="coupon__add">В КОРЗИНУ</div>
                          <div class="coupon__pic"><img src="/images/coupons/coupon_goods-1.jpg" class="coupon__pic-img pull-left"><img src="/images/coupons/coupon_goods-2.jpg" class="coupon__pic-img pull-right">
                            <div class="coupon__pic-price"><span class="coupon__pic-price-actual">390<span class="rouble">Р</span></span><span class="coupon__pic-price-old">520<span class="rouble">Р</span></span></div>
                          </div>
                          <div class="coupon__info">
                            <div class="coupon__title">Апельсиновый фреш в подарок</div>
                            <p class="coupon__desc">При заказе роллов Филадельфия</p>
                          </div>
                        </div>
                </div>
              </div>
            </div>
            <div class="ordering-form__social">Присоединяйтесь к нам в социальных сетях<br>
              <div class="social _auth">
                <div class="_facebook social__item"><a href="#" class="_facebook social__item-in"></a></div>
                <div class="_vk social__item"><a href="#" class="_vk social__item-in"></a></div>
                <div class="_ok social__item"><a href="#" class="_ok social__item-in"></a></div>
                <div class="_twitter social__item"><a href="#" class="_twitter social__item-in"></a></div>
                <div class="_instagram social__item"><a href="#" class="_instagram social__item-in"></a></div>
                <div class="_forsquare social__item"><a href="#" class="_forsquare social__item-in"></a></div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="page__footer _light">
      <div class="page__container clearfix">
        <div class="page__footer-left">
                <div class="copyright">© Нияма, 2014</div>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
