local/templates/.default/static/src/order_auth.jade
extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title.align-center Оформление заказа
				.auth._order
					.auth__left
						label.label Войти через социальную сеть
							+social__auth
						form(data-parsley-validate)
							label.label.auth__label Имя учётной записи
							input(required).input.auth__input 

							a(href="#").auth__fogot.pull-right Забыли пароль?
							label.label.auth__label Пароль
							.input__wrap(onclick = "return {'togglePass': {} }").js-widget
								.input__showpass
								input.input.auth__input(type="password")

							input(type="submit", value="Войти").btn._style_2.auth__submit
					.auth__right
						.btn.auth__continue Продолжить в качестве гостя
						.auth__bonus 
							p За регистрацию мы начислим вам 
							.auth__bonus-nyam 
								span.text-brown 5 000
								img(src="/images/nyam.png")
								span.text-orange ниям
									a(href="#").auth__bonus-question 
										span Бонусные баллы, которыми вы можете оплатить часть заказа
							a(href="#") Регистрация

local/templates/.default/static/dest/order_auth.html
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="ru" class="ie8"></html>
<![endif]-->
<!--[if IE 9]>
<html lang="ru" class="ie9"></html>
<![endif]-->
<!--if gt IE 9-->
<html lang="ru" class="_light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="page _light">
    <div class="page__wrap _light-2">
      <header class="page__header">
        <div class="page__container clearfix">
          <div class="pull-left">
                  <div class="logo"><a href="#"><img src="images/logo.png" width="244" height="60" alt="Нияма - японский ресторан"></a></div>
          </div>
          <div class="pull-right">
                  <div class="feedback">
                    <div class="feedback__phone">+7 495 781-781-9</div>
                    <div class="feedback__links align-right"><a href="#" class="feedback__link centrifuge__item">Обратный звонок</a></div>
                  </div>
          </div>
        </div>
      </header>
      <main class="page__main _light">
        <div class="page__container clearfix">
          <div class="page__content-wrap">
            <h1 class="auth__title align-center">Оформление заказа</h1>
            <div class="auth _order">
              <div class="auth__left">
                <label class="label">Войти через социальную сеть
                        <div class="social _auth">
                          <div class="_facebook social__item"><a href="#" class="_facebook social__item-in"></a></div>
                          <div class="_vk social__item"><a href="#" class="_vk social__item-in"></a></div>
                          <div class="_ok social__item"><a href="#" class="_ok social__item-in"></a></div>
                          <div class="_google social__item"><a href="#" class="_google social__item-in"></a></div>
                          <div class="_mail social__item"><a href="#" class="_mail social__item-in"></a></div>
                          <div class="_ya social__item"><a href="#" class="_ya social__item-in"></a></div>
                        </div>
                </label>
                <form data-parsley-validate>
                  <label class="label auth__label">Имя учётной записи</label>
                  <input required class="input auth__input"><a href="#" class="auth__fogot pull-right">Забыли пароль?</a>
                  <label class="label auth__label">Пароль</label>
                  <div onclick="return {'togglePass': {} }" class="input__wrap js-widget">
                    <div class="input__showpass"></div>
                    <input type="password" class="input auth__input">
                  </div>
                  <input type="submit" value="Войти" class="btn _style_2 auth__submit">
                </form>
              </div>
              <div class="auth__right">
                <div class="btn auth__continue">Продолжить в качестве гостя</div>
                <div class="auth__bonus"> 
                  <p>За регистрацию мы начислим вам </p>
                  <div class="auth__bonus-nyam"> <span class="text-brown">5 000</span><img src="/images/nyam.png"><span class="text-orange">ниям<a href="#" class="auth__bonus-question"> <span>Бонусные баллы, которыми вы можете оплатить часть заказа</span></a></span></div><a href="#">Регистрация</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="page__footer _light">
      <div class="page__container clearfix">
        <div class="page__footer-left">
                <div class="copyright">© Нияма, 2014</div>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
