local/templates/.default/static/src/ordering.jade
extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title Оформление заказа
				.ordering-form(onclick="return {'orderingForm': {} }").js-widget
					form(data-parsley-validate)
						.ordering-form__side
							.order
								.order__amount
									span.h1 итого 
									span.h1.order__amount-sum 2 500 
									span.rouble Р
								.order__bonus
									.order__bonus-img
										img(src="images/icon_1.png")
									span.order__bonus-text 
										span 2 
										span гостя, 
										span 5 
										span блюд

								.order__bonus
									.order__bonus-img
										img(src="images/delivery.png")
									span.order__bonus-text Бесплатная доставка

							.order__embargo Сумма заказа недостаточна для доставки в выбранный вами город

							.order__add
								.label Добавить к заказу
								.order__add-carousel
									.order__add-carousel-item
										+goods-order("images/temp/1.jpg")
									.order__add-carousel-item
										+goods-order("images/temp/2.jpg")
									.order__add-carousel-item
										+goods-order("images/temp/3.jpg")
									.order__add-carousel-item
										+goods-order("images/temp/4.jpg")

						.ordering-form__step
							.ordering-form__counter._orange 1
							h2.ordering-form__title Представьтесь
								.ordering-form__edit#edit1(data-block="1")
									span Редактировать
							div.ordering-form__desc#desc1
							.ordering-form__body.block1
								.ordering-form__row
									.input__wrap
										label.label Имя 
										input.input._name(data-parsley-group="block1", required)

									.input__wrap
										label.label Фамилия
										input.input._surname(data-parsley-group="block1", required)
								
								.ordering-form__row
									.input__wrap
										label.label Телефон
										input.input._phone(data-parsley-group="block1")

									.input__wrap
										label.label Электронная почта
										input.input._email(type="email", data-parsley-group="block1", data-parsley-type="email")
								.ordering-form__row
									button(type="button", data-current-block="1", data-next-block="2").btn._style_3 Продолжить
									+question

						.ordering-form__step
							.ordering-form__counter 2
							h2.ordering-form__title Доставка
								.ordering-form__edit#edit2(data-block="2")
									span Редактировать
							div.ordering-form__desc#desc2
							.ordering-form__body.block2
								.ordering-form__row.align-left#deliverytype
									.ordering-form__col
										input.radio(type="radio", name="deliverytype", id="delivery", class="_delivery", checked)
										label.radio-label.checkbox-label(for="delivery") Доставка

									.ordering-form__col
										input.radio(type="radio", name="deliverytype", id="pickup", class="_pickup")
										label.radio-label.checkbox-label(for="pickup") Самовывоз
								
								div#deliveryTypeGroup
									div#deliveryControls
										.ordering-form__row
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Город
												select.select._city
													option(data-city="REGION_1", value="86") Москва
													option(data-city="REGION_2", value="88") Отрадное
													option(data-city="REGION_3", value="89") Чита
											//- +select("Город", "_city")
											+select("Станция метро", "_metro", "Выберите станцию")

										.ordering-form__row._mkad
											+checkbox-big("В пределах МКАД", "mkad", "mkad", "_mkad")

										.ordering-form__row
											label.label Почтовый адрес: улица, дом
											input.input._address(data-parsley-group="block2", required)

										.ordering-form__row._quarter
											.input__wrap
												label.label Квартира
												input.input._apart

											.input__wrap
												label.label Подъезд
												input.input._porch

											.input__wrap
												label.label Домофон
												input.input._intercom

											.input__wrap
												label.label Этаж
												input.input._floor


										.ordering-form__row.align-left#deliverytime
											.ordering-form__col
												input.radio(type="radio", name="deliverytime", id="soon", class="_soon", checked)
												label.radio-label.checkbox-label(for="soon") Как можно скорее

												//- +radio("soon", "_soon", "_soon") Как можно скорее
											.ordering-form__col
												input.radio(type="radio", name="deliverytime", id="certain", class="_certain")
												label.radio-label.checkbox-label(for="certain") К определённой дате и времени

												//- +radio("certain", "_certain", "_certain") К определённой дате и времени
												.ordering-form__row._certain
													.select__wrap(name="time", onclick="return {'select': {}}").js-widget
														select.select
															option(value="testvalue") 00:00 - 00:30
															option(value="testvalue") 00:30 - 01:00
															option(value="testvalue") 01:00 - 01:30
															option(value="testvalue") 01:30 - 02:00
															option(value="testvalue") 02:00 - 02:30
															option(value="testvalue") 02:30 - 03:00
															option(value="testvalue") 03:00 - 03:30
															option(value="testvalue") 03:30 - 04:00
															option(value="testvalue") 04:00 - 04:30
															option(value="testvalue") 04:30 - 05:00
															option(value="testvalue") 05:00 - 05:30
															option(value="testvalue") 05:30 - 06:00
															option(value="testvalue") 06:00 - 06:30
															option(value="testvalue") 06:30 - 07:00
															option(value="testvalue") 07:00 - 07:30
															option(value="testvalue") 07:30 - 08:00
															option(value="testvalue") 08:00 - 08:30
															option(value="testvalue") 08:30 - 09:00
															option(value="testvalue") 09:00 - 09:30
															option(value="testvalue") 09:30 - 10:00
															option(value="testvalue") 10:00 - 10:30
															option(value="testvalue") 10:30 - 11:00
															option(value="testvalue") 11:00 - 11:30
															option(value="testvalue") 11:30 - 12:00
															option(value="testvalue") 12:00 - 12:30
															option(value="testvalue") 12:30 - 13:00
															option(value="testvalue") 13:00 - 13:30
															option(value="testvalue") 13:30 - 14:00
															option(value="testvalue") 14:00 - 14:30
															option(value="testvalue") 14:30 - 15:00
															option(value="testvalue") 15:00 - 15:30
															option(value="testvalue") 15:30 - 16:00
															option(value="testvalue") 16:00 - 16:30
															option(value="testvalue") 16:30 - 17:00
															option(value="testvalue") 17:00 - 17:30
															option(value="testvalue") 17:30 - 18:00
															option(value="testvalue", selected) 18:00 - 18:30
															option(value="testvalue") 18:30 - 19:00
															option(value="testvalue") 19:00 - 19:30
															option(value="testvalue") 19:30 - 20:00
															option(value="testvalue") 20:00 - 20:30
															option(value="testvalue") 20:30 - 21:00
															option(value="testvalue") 21:00 - 21:30
															option(value="testvalue") 21:30 - 22:00
															option(value="testvalue") 22:00 - 22:30
															option(value="testvalue") 22:30 - 23:00
															option(value="testvalue") 23:00 - 23:30
															option(value="testvalue") 23:30 - 00:00
													.input__wrap
														input.input(name="date", onclick="return {'inputDate': {}}", data-min-date="true", value="25.07.2014").js-widget

													//- +checkbox-big('Как можно скорее', "date", "", '_soon')
													//- +checkbox-big('К определённой дате и времени', "date", "", '_certain')

									div#pickupControls
										.ordering-form__row
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Город
												select.select._city
													option(data-city="REGION_1", value="86") Москва
													option(data-city="REGION_2", value="88") Отрадное
													option(data-city="REGION_3", value="89") Чита
										.ordering-form__row._rests#rest_86
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Ресторан
												select.select._restaurant
													option(value="1") Нияма в одинцово
													option(value="2") Нияма на автозаводской
													option(value="3")
										.ordering-form__row._rests#rest_88
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Ресторан
												select.select._restaurant
													option(value="1") Нияма в отрадном 1
													option(value="2") Нияма в отрадном 2
										.ordering-form__row._rests#rest_89
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Ресторан
												select.select._restaurant
													option(value="3") Чита 1
													option(value="4") Чита 2
								.ordering-form__row.align-left
									button(type="button", data-current-block="2", data-next-block="3").btn._style_3 Продолжить
									+question

						.ordering-form__step
							.ordering-form__counter 3
							h2.ordering-form__title Оплата
							.ordering-form__body.block3 
								table.ordering-form__table
									tr
										td
											+radio-checked("payment1", "", "ordering-form__radio _cash") Наличными
												.ordering-form__payment-img
													img(src="/images/payment/cash.png")
										td
											+radio("payment2", "", "ordering-form__radio") Банковской картой
												.ordering-form__payment-img
													img(src="/images/payment/cards.png")
										td
											+radio("payment3", "", "ordering-form__radio") Яндекс деньгами
												.ordering-form__payment-img
													img(src="/images/payment/yam.png")
										td
											+radio("payment4", "", "ordering-form__radio") Электронными деньгами
												.ordering-form__payment-img
													img(src="/images/payment/robo.png")
								.ordering-form__row#iscash
									.input__wrap
										label.label Потребуется ли сдача? 
										input.input(placeholder="С какой суммы?")

								input(type="submit", value="Оформить").btn._style_3#submitOrder
								+question

local/templates/.default/static/dest/ordering.html
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="ru" class="ie8"></html>
<![endif]-->
<!--[if IE 9]>
<html lang="ru" class="ie9"></html>
<![endif]-->
<!--if gt IE 9-->
<html lang="ru" class="_light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="page _light">
    <div class="page__wrap _light-2">
      <header class="page__header">
        <div class="page__container clearfix">
          <div class="pull-left">
                  <div class="logo"><a href="#"><img src="images/logo.png" width="244" height="60" alt="Нияма - японский ресторан"></a></div>
          </div>
          <div class="pull-right">
                  <div class="feedback">
                    <div class="feedback__phone">+7 495 781-781-9</div>
                    <div class="feedback__links align-right"><a href="#" class="feedback__link centrifuge__item">Обратный звонок</a></div>
                  </div>
          </div>
        </div>
      </header>
      <main class="page__main _light">
        <div class="page__container clearfix">
          <div class="page__content-wrap">
            <h1 class="auth__title">Оформление заказа</h1>
            <div onclick="return {'orderingForm': {} }" class="ordering-form js-widget">
              <form data-parsley-validate>
                <div class="ordering-form__side">
                  <div class="order">
                    <div class="order__amount"><span class="h1">итого </span><span class="h1 order__amount-sum">2 500 </span><span class="rouble">Р</span></div>
                    <div class="order__bonus">
                      <div class="order__bonus-img"><img src="images/icon_1.png"></div><span class="order__bonus-text"> <span>2 </span><span>гостя, </span><span>5 </span><span>блюд</span></span>
                    </div>
                    <div class="order__bonus">
                      <div class="order__bonus-img"><img src="images/delivery.png"></div><span class="order__bonus-text">Бесплатная доставка</span>
                    </div>
                  </div>
                  <div class="order__embargo">Сумма заказа недостаточна для доставки в выбранный вами город</div>
                  <div class="order__add">
                    <div class="label">Добавить к заказу</div>
                    <div class="order__add-carousel">
                      <div class="order__add-carousel-item">
                              <div class="goods _order">
                                <div class="goods__wrap">
                                  <div class="goods__image"><img src="images/temp/1.jpg"></div>
                                  <div class="goods__desc">
                                    <h2 class="goods__name">Секуе Эби</h2>
                                    <div class="goods__cost">215 <span class="rouble">Р </span></div>
                                    <div data-id="123" class="goods__add-btn btn">Добавить</div>
                                  </div>
                                </div>
                              </div>
                      </div>
                      <div class="order__add-carousel-item">
                              <div class="goods _order">
                                <div class="goods__wrap">
                                  <div class="goods__image"><img src="images/temp/2.jpg"></div>
                                  <div class="goods__desc">
                                    <h2 class="goods__name">Секуе Эби</h2>
                                    <div class="goods__cost">215 <span class="rouble">Р </span></div>
                                    <div data-id="123" class="goods__add-btn btn">Добавить</div>
                                  </div>
                                </div>
                              </div>
                      </div>
                      <div class="order__add-carousel-item">
                              <div class="goods _order">
                                <div class="goods__wrap">
                                  <div class="goods__image"><img src="images/temp/3.jpg"></div>
                                  <div class="goods__desc">
                                    <h2 class="goods__name">Секуе Эби</h2>
                                    <div class="goods__cost">215 <span class="rouble">Р </span></div>
                                    <div data-id="123" class="goods__add-btn btn">Добавить</div>
                                  </div>
                                </div>
                              </div>
                      </div>
                      <div class="order__add-carousel-item">
                              <div class="goods _order">
                                <div class="goods__wrap">
                                  <div class="goods__image"><img src="images/temp/4.jpg"></div>
                                  <div class="goods__desc">
                                    <h2 class="goods__name">Секуе Эби</h2>
                                    <div class="goods__cost">215 <span class="rouble">Р </span></div>
                                    <div data-id="123" class="goods__add-btn btn">Добавить</div>
                                  </div>
                                </div>
                              </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ordering-form__step">
                  <div class="ordering-form__counter _orange">1</div>
                  <h2 class="ordering-form__title">Представьтесь
                    <div id="edit1" data-block="1" class="ordering-form__edit"><span>Редактировать</span></div>
                  </h2>
                  <div id="desc1" class="ordering-form__desc"></div>
                  <div class="ordering-form__body block1">
                    <div class="ordering-form__row">
                      <div class="input__wrap">
                        <label class="label">Имя </label>
                        <input data-parsley-group="block1" required class="input _name">
                      </div>
                      <div class="input__wrap">
                        <label class="label">Фамилия</label>
                        <input data-parsley-group="block1" required class="input _surname">
                      </div>
                    </div>
                    <div class="ordering-form__row">
                      <div class="input__wrap">
                        <label class="label">Телефон</label>
                        <input data-parsley-group="block1" class="input _phone">
                      </div>
                      <div class="input__wrap">
                        <label class="label">Электронная почта</label>
                        <input type="email" data-parsley-group="block1" data-parsley-type="email" class="input _email">
                      </div>
                    </div>
                    <div class="ordering-form__row">
                      <button type="button" data-current-block="1" data-next-block="2" class="btn _style_3">Продолжить</button>
                            <div class="question"><span>Возникли вопросы? Позвоните нам </span><a href="tel:+74957817819">+7 495 781-781-9 </a>или <a href="#">мы можем сами перезвонить вам</a></div>
                    </div>
                  </div>
                </div>
                <div class="ordering-form__step">
                  <div class="ordering-form__counter">2</div>
                  <h2 class="ordering-form__title">Доставка
                    <div id="edit2" data-block="2" class="ordering-form__edit"><span>Редактировать</span></div>
                  </h2>
                  <div id="desc2" class="ordering-form__desc"></div>
                  <div class="ordering-form__body block2">
                    <div id="deliverytype" class="ordering-form__row align-left">
                      <div class="ordering-form__col">
                        <input type="radio" name="deliverytype" id="delivery" checked class="radio _delivery">
                        <label for="delivery" class="radio-label checkbox-label">Доставка</label>
                      </div>
                      <div class="ordering-form__col">
                        <input type="radio" name="deliverytype" id="pickup" class="radio _pickup">
                        <label for="pickup" class="radio-label checkbox-label">Самовывоз</label>
                      </div>
                    </div>
                    <div id="deliveryTypeGroup">
                      <div id="deliveryControls">
                        <div class="ordering-form__row">
                          <div onclick="return {'select': {}}" class="select__wrap js-widget">
                            <label class="label">Город</label>
                            <select class="select _city">
                              <option data-city="REGION_1" value="86">Москва</option>
                              <option data-city="REGION_2" value="88">Отрадное</option>
                              <option data-city="REGION_3" value="89">Чита</option>
                            </select>
                          </div>
                                <div onclick="return {'select': {}}" class="select__wrap js-widget">
                                  <label class="label">Станция метро</label>
                                  <select required data-placeholder="Выберите станцию" class="_metro select">
                                    <option value=""></option>
                                    <option value="1">Все рестораны Москвы</option>
                                    <option value="2">Все рестораны Москвы</option>
                                    <option value="3">Все рестораны Москвы</option>
                                    <option value="4">Все рестораны Москвы</option>
                                    <option value="5">Все рестораны Москвы</option>
                                  </select>
                                </div>
                        </div>
                        <div class="ordering-form__row _mkad">
                                <input type="checkbox" name="mkad" id="mkad" class="checkbox _big _mkad">
                                <label for="mkad" class="checkbox-label">В пределах МКАД</label>
                        </div>
                        <div class="ordering-form__row">
                          <label class="label">Почтовый адрес: улица, дом</label>
                          <input data-parsley-group="block2" required class="input _address">
                        </div>
                        <div class="ordering-form__row _quarter">
                          <div class="input__wrap">
                            <label class="label">Квартира</label>
                            <input class="input _apart">
                          </div>
                          <div class="input__wrap">
                            <label class="label">Подъезд</label>
                            <input class="input _porch">
                          </div>
                          <div class="input__wrap">
                            <label class="label">Домофон</label>
                            <input class="input _intercom">
                          </div>
                          <div class="input__wrap">
                            <label class="label">Этаж</label>
                            <input class="input _floor">
                          </div>
                        </div>
                        <div id="deliverytime" class="ordering-form__row align-left">
                          <div class="ordering-form__col">
                            <input type="radio" name="deliverytime" id="soon" checked class="radio _soon">
                            <label for="soon" class="radio-label checkbox-label">Как можно скорее</label>
                          </div>
                          <div class="ordering-form__col">
                            <input type="radio" name="deliverytime" id="certain" class="radio _certain">
                            <label for="certain" class="radio-label checkbox-label">К определённой дате и времени</label>
                            <div class="ordering-form__row _certain">
                              <div name="time" onclick="return {'select': {}}" class="select__wrap js-widget">
                                <select class="select">
                                  <option value="testvalue">00:00 - 00:30</option>
                                  <option value="testvalue">00:30 - 01:00</option>
                                  <option value="testvalue">01:00 - 01:30</option>
                                  <option value="testvalue">01:30 - 02:00</option>
                                  <option value="testvalue">02:00 - 02:30</option>
                                  <option value="testvalue">02:30 - 03:00</option>
                                  <option value="testvalue">03:00 - 03:30</option>
                                  <option value="testvalue">03:30 - 04:00</option>
                                  <option value="testvalue">04:00 - 04:30</option>
                                  <option value="testvalue">04:30 - 05:00</option>
                                  <option value="testvalue">05:00 - 05:30</option>
                                  <option value="testvalue">05:30 - 06:00</option>
                                  <option value="testvalue">06:00 - 06:30</option>
                                  <option value="testvalue">06:30 - 07:00</option>
                                  <option value="testvalue">07:00 - 07:30</option>
                                  <option value="testvalue">07:30 - 08:00</option>
                                  <option value="testvalue">08:00 - 08:30</option>
                                  <option value="testvalue">08:30 - 09:00</option>
                                  <option value="testvalue">09:00 - 09:30</option>
                                  <option value="testvalue">09:30 - 10:00</option>
                                  <option value="testvalue">10:00 - 10:30</option>
                                  <option value="testvalue">10:30 - 11:00</option>
                                  <option value="testvalue">11:00 - 11:30</option>
                                  <option value="testvalue">11:30 - 12:00</option>
                                  <option value="testvalue">12:00 - 12:30</option>
                                  <option value="testvalue">12:30 - 13:00</option>
                                  <option value="testvalue">13:00 - 13:30</option>
                                  <option value="testvalue">13:30 - 14:00</option>
                                  <option value="testvalue">14:00 - 14:30</option>
                                  <option value="testvalue">14:30 - 15:00</option>
                                  <option value="testvalue">15:00 - 15:30</option>
                                  <option value="testvalue">15:30 - 16:00</option>
                                  <option value="testvalue">16:00 - 16:30</option>
                                  <option value="testvalue">16:30 - 17:00</option>
                                  <option value="testvalue">17:00 - 17:30</option>
                                  <option value="testvalue">17:30 - 18:00</option>
                                  <option value="testvalue" selected>18:00 - 18:30</option>
                                  <option value="testvalue">18:30 - 19:00</option>
                                  <option value="testvalue">19:00 - 19:30</option>
                                  <option value="testvalue">19:30 - 20:00</option>
                                  <option value="testvalue">20:00 - 20:30</option>
                                  <option value="testvalue">20:30 - 21:00</option>
                                  <option value="testvalue">21:00 - 21:30</option>
                                  <option value="testvalue">21:30 - 22:00</option>
                                  <option value="testvalue">22:00 - 22:30</option>
                                  <option value="testvalue">22:30 - 23:00</option>
                                  <option value="testvalue">23:00 - 23:30</option>
                                  <option value="testvalue">23:30 - 00:00</option>
                                </select>
                              </div>
                              <div class="input__wrap">
                                <input name="date" onclick="return {'inputDate': {}}" data-min-date="true" value="25.07.2014" class="input js-widget">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="pickupControls">
                        <div class="ordering-form__row">
                          <div onclick="return {'select': {}}" class="select__wrap js-widget">
                            <label class="label">Город</label>
                            <select class="select _city">
                              <option data-city="REGION_1" value="86">Москва</option>
                              <option data-city="REGION_2" value="88">Отрадное</option>
                              <option data-city="REGION_3" value="89">Чита</option>
                            </select>
                          </div>
                        </div>
                        <div id="rest_86" class="ordering-form__row _rests">
                          <div onclick="return {'select': {}}" class="select__wrap js-widget">
                            <label class="label">Ресторан</label>
                            <select class="select _restaurant">
                              <option value="1">Нияма в одинцово</option>
                              <option value="2">Нияма на автозаводской</option>
                              <option value="3"></option>
                            </select>
                          </div>
                        </div>
                        <div id="rest_88" class="ordering-form__row _rests">
                          <div onclick="return {'select': {}}" class="select__wrap js-widget">
                            <label class="label">Ресторан</label>
                            <select class="select _restaurant">
                              <option value="1">Нияма в отрадном 1</option>
                              <option value="2">Нияма в отрадном 2</option>
                            </select>
                          </div>
                        </div>
                        <div id="rest_89" class="ordering-form__row _rests">
                          <div onclick="return {'select': {}}" class="select__wrap js-widget">
                            <label class="label">Ресторан</label>
                            <select class="select _restaurant">
                              <option value="3">Чита 1</option>
                              <option value="4">Чита 2</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ordering-form__row align-left">
                      <button type="button" data-current-block="2" data-next-block="3" class="btn _style_3">Продолжить</button>
                            <div class="question"><span>Возникли вопросы? Позвоните нам </span><a href="tel:+74957817819">+7 495 781-781-9 </a>или <a href="#">мы можем сами перезвонить вам</a></div>
                    </div>
                  </div>
                </div>
                <div class="ordering-form__step">
                  <div class="ordering-form__counter">3</div>
                  <h2 class="ordering-form__title">Оплата</h2>
                  <div class="ordering-form__body block3"> 
                    <table class="ordering-form__table">
                      <tr>
                        <td>
                                <input type="radio" name="checkbox1" id="payment1" checked class="radio ordering-form__radio _cash">
                                <label for="payment1" class="radio-label checkbox-label checkbox-label">Наличными
                                  <div class="ordering-form__payment-img"><img src="/images/payment/cash.png"></div>
                                </label>
                        </td>
                        <td>
                                <input type="radio" name="checkbox1" id="payment2" class="radio ordering-form__radio">
                                <label for="payment2" class="radio-label checkbox-label checkbox-label">Банковской картой
                                  <div class="ordering-form__payment-img"><img src="/images/payment/cards.png"></div>
                                </label>
                        </td>
                        <td>
                                <input type="radio" name="checkbox1" id="payment3" class="radio ordering-form__radio">
                                <label for="payment3" class="radio-label checkbox-label checkbox-label">Яндекс деньгами
                                  <div class="ordering-form__payment-img"><img src="/images/payment/yam.png"></div>
                                </label>
                        </td>
                        <td>
                                <input type="radio" name="checkbox1" id="payment4" class="radio ordering-form__radio">
                                <label for="payment4" class="radio-label checkbox-label checkbox-label">Электронными деньгами
                                  <div class="ordering-form__payment-img"><img src="/images/payment/robo.png"></div>
                                </label>
                        </td>
                      </tr>
                    </table>
                    <div id="iscash" class="ordering-form__row">
                      <div class="input__wrap">
                        <label class="label">Потребуется ли сдача? </label>
                        <input placeholder="С какой суммы?" class="input">
                      </div>
                    </div>
                    <input type="submit" value="Оформить" id="submitOrder" class="btn _style_3">
                          <div class="question"><span>Возникли вопросы? Позвоните нам </span><a href="tel:+74957817819">+7 495 781-781-9 </a>или <a href="#">мы можем сами перезвонить вам</a></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="page__footer _light">
      <div class="page__container clearfix">
        <div class="page__footer-left">
                <div class="copyright">© Нияма, 2014</div>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
