local/templates/.default/static/src/pass_change.jade
extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title.align-center Смена пароля
				.auth
					.auth__center
						form
							label.label.auth__label Имя учётной записи
							input.input.auth__input 

							label.label.auth__label Контрольная строка
							input.input.auth__input.parsley-error
							.auth__error Неверное контрольное слово для учётной записи somemail@adv.ru 

							label.label.auth__label Новый пароль
							.input__wrap(onclick = "return {'togglePass': {} }").js-widget
								.input__showpass
								input.input.auth__input(type="password")

							input(type="submit", value="Изменить пароль").btn._style_2.auth__submit

local/templates/.default/static/dest/pass_change.html
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="ru" class="ie8"></html>
<![endif]-->
<!--[if IE 9]>
<html lang="ru" class="ie9"></html>
<![endif]-->
<!--if gt IE 9-->
<html lang="ru" class="_light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="page _light">
    <div class="page__wrap _light-2">
      <header class="page__header">
        <div class="page__container clearfix">
          <div class="pull-left">
                  <div class="logo"><a href="#"><img src="images/logo.png" width="244" height="60" alt="Нияма - японский ресторан"></a></div>
          </div>
          <div class="pull-right">
                  <div class="feedback">
                    <div class="feedback__phone">+7 495 781-781-9</div>
                    <div class="feedback__links align-right"><a href="#" class="feedback__link centrifuge__item">Обратный звонок</a></div>
                  </div>
          </div>
        </div>
      </header>
      <main class="page__main _light">
        <div class="page__container clearfix">
          <div class="page__content-wrap">
            <h1 class="auth__title align-center">Смена пароля</h1>
            <div class="auth">
              <div class="auth__center">
                <form>
                  <label class="label auth__label">Имя учётной записи</label>
                  <input class="input auth__input">
                  <label class="label auth__label">Контрольная строка</label>
                  <input class="input auth__input parsley-error">
                  <div class="auth__error">Неверное контрольное слово для учётной записи somemail@adv.ru </div>
                  <label class="label auth__label">Новый пароль</label>
                  <div onclick="return {'togglePass': {} }" class="input__wrap js-widget">
                    <div class="input__showpass"></div>
                    <input type="password" class="input auth__input">
                  </div>
                  <input type="submit" value="Изменить пароль" class="btn _style_2 auth__submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="page__footer _light">
      <div class="page__container clearfix">
        <div class="page__footer-left">
                <div class="copyright">© Нияма, 2014</div>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
