local/templates/.default/static/src/reg.jade
extends jade/layouts/light

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title.align-center Регистрация
				.auth
					.auth__bonus._wide
						p За регистрацию мы начислим вам 
						.auth__bonus-nyam 
							span.text-brown 5 000
							img(src="/images/nyam_big.png")
							span.text-orange ниям
								a(href="#").auth__bonus-question 
									span Бонусные баллы, которыми вы можете оплатить часть заказа

					.auth__left
						form(data-parsley-validate)
							label.label.auth__label Электронная почта
							input(required, data-parsley-type="email", type="email").input.auth__input 

							label.label.auth__label Пароль
							.input__wrap(onclick = "return {'togglePass': {} }").js-widget
								.input__showpass
								input.input.auth__input(type="password")
							p
								+checkbox-big("Запомнить пароль", "rememberPass", "rememberPass")

							input(type="submit", value="Войти").btn._style_2.auth__submit
					.auth__right
						label.label Войти через социальную сеть
						+social__auth
						+checkbox-big("Получать рассылку новостей и акций", "subscribe", "subscribe")

local/templates/.default/static/dest/reg.html
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="ru" class="ie8"></html>
<![endif]-->
<!--[if IE 9]>
<html lang="ru" class="ie9"></html>
<![endif]-->
<!--if gt IE 9-->
<html lang="ru" class="_light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="page _light">
    <div class="page__wrap _light">
      <header class="page__header">
        <div class="page__container clearfix">
          <div class="pull-left">
                  <div class="logo"><a href="#"><img src="images/logo.png" width="244" height="60" alt="Нияма - японский ресторан"></a></div>
          </div>
          <div class="pull-right">
                  <div class="feedback">
                    <div class="feedback__phone">+7 495 781-781-9</div>
                    <div class="feedback__links align-right"><a href="#" class="feedback__link centrifuge__item">Обратный звонок</a></div>
                  </div>
          </div>
        </div>
      </header>
      <main class="page__main _light">
        <div class="page__container clearfix">
          <div class="page__content-wrap">
            <h1 class="auth__title align-center">Регистрация</h1>
            <div class="auth">
              <div class="auth__bonus _wide">
                <p>За регистрацию мы начислим вам </p>
                <div class="auth__bonus-nyam"> <span class="text-brown">5 000</span><img src="/images/nyam_big.png"><span class="text-orange">ниям<a href="#" class="auth__bonus-question"> <span>Бонусные баллы, которыми вы можете оплатить часть заказа</span></a></span></div>
              </div>
              <div class="auth__left">
                <form data-parsley-validate>
                  <label class="label auth__label">Электронная почта</label>
                  <input required data-parsley-type="email" type="email" class="input auth__input">
                  <label class="label auth__label">Пароль</label>
                  <div onclick="return {'togglePass': {} }" class="input__wrap js-widget">
                    <div class="input__showpass"></div>
                    <input type="password" class="input auth__input">
                  </div>
                  <p>
                          <input type="checkbox" name="rememberPass" id="rememberPass" class="checkbox _big">
                          <label for="rememberPass" class="checkbox-label">Запомнить пароль</label>
                  </p>
                  <input type="submit" value="Войти" class="btn _style_2 auth__submit">
                </form>
              </div>
              <div class="auth__right">
                <label class="label">Войти через социальную сеть</label>
                      <div class="social _auth">
                        <div class="_facebook social__item"><a href="#" class="_facebook social__item-in"></a></div>
                        <div class="_vk social__item"><a href="#" class="_vk social__item-in"></a></div>
                        <div class="_ok social__item"><a href="#" class="_ok social__item-in"></a></div>
                        <div class="_google social__item"><a href="#" class="_google social__item-in"></a></div>
                        <div class="_mail social__item"><a href="#" class="_mail social__item-in"></a></div>
                        <div class="_ya social__item"><a href="#" class="_ya social__item-in"></a></div>
                      </div>
                      <input type="checkbox" name="subscribe" id="subscribe" class="checkbox _big">
                      <label for="subscribe" class="checkbox-label">Получать рассылку новостей и акций</label>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="page__footer _light">
      <div class="page__container clearfix">
        <div class="page__footer-left">
                <div class="copyright">© Нияма, 2014</div>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
